body {
    font-family: Arial, sans-serif;
    background-image: url("back.jpeg") ;
    text-align: center;
    transition: background-color 0.5s ease;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    background-color: wheat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.cookie {
    width: 200px;
    height: 200px;
    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 40px auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cookie:hover {
    transform: scale(1.1);
    
}

#changeNameBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#changeNameBtn:hover {
    background-color: #2980b9;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
    transition: color 0.5s ease;
}

#cookieCount:hover {
    color: #e74c3c;
}

#cookieCount:after {
    content: " Cookies";
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #3498db;
}
#seeAllBakeriesBtn{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#seeAllBakeriesBtn:hover{
    background-color: #2980b9;

}
#resetBtn{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetBtn:hover{
    background-color: #2980b9;
}
