body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    transition: background-color 0.5s ease;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.cookie {
    width: 200px;
    height: 200px;
    background-image: url('back.jpeg');
    background-repeat: no-repeat;
    margin: 40px auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cookie:hover {
    transform: scale(1.1);
}

#changeNameBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#changeNameBtn:hover {
    background-color: #2980b9;
}
